@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: 'walt-disney';
    src: url(./file/New\ Walt\ Disney.ttf);
}
:root{
    --primary : #202020;
    --yellow_s : #ffff00;
    --secondary : #707070;
    --primary_font : "Montserrat";
    --pri_grad : radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    
  }
html{

    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    font-size: 10px;;
    font-family: 'Montserrat', sans-serif ;
    scroll-behavior: smooth;
    
    
}
a{
    text-decoration: none;
}
.container{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_dna{
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
        
        font-size: 1.4rem;
        margin-top: 5px;
        color: #a3a3a3;
        line-height: 2.5rem;
        font-weight: 300px;
        letter-spacing: .05rem;
}
.skill-title{
    font-size: 3rem;
    font-weight: 300;
    color: #a3a3a3;
    margin-bottom: 10px ;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.cta{
    display: inline-block;
    padding: 8px 15px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--yellow_s);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    transition: .3s ease;
    }
.cta:hover{
        color: var(--primary);
        background-color: var(--yellow_s);
    }
.brand h1{
    font-size: 4.5rem;
    font-family: 'walt-disney', cursive;
    color: var(--yellow_s);
    font-weight: 50;
}
.brand h1:hover{
    animation: rubberBand;
      
    animation-duration: 1s;
}


/*Header section*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top:0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    transition: .3s ease background-color;
}
#header .logo{
    display: flex;
    height: 40px;
    width: 45px;
    margin-right: 1rem;
    margin-bottom: 2.1rem;
}
#header .nav-bar{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: #1b2735;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}
#header .nav-list ul.active{
    left: 0%;


}
.nav-list li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
}


#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    position: relative;
    color: #a3a3a3;
    text-decoration: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
    padding: 20px;
    display: block;

}

.nav-list a:hover:after {
    width: 100%;
    left: 0;
}
#header .nav-list ul a.active,
#header .nav-list ul a:hover {
    background: none;
    color: var(--yellow_s);
}

#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;

}
#header .hamburger:after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;

}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
    
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 1.3s ease;
    transition-property: top, bottom;

}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom:0;
}
#header .hamburger.active .bar::after{
    top:0;
}








/* Hero section*/
#hero{
    
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    /*clip-path: inset(10px 20px 30px 40px);*/
    clip-path: ellipse(100% 55% at 48% 44%);
    
}
#hero .hero{
    
    flex-direction: column;
}
#hero .hero .left{
    width: auto;
    height: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    
    
}
#hero .hero .right{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.hero .right img{
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.hero .right img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
    
}

#hero::after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: flex-start;
    
}
#hero h1{
    display: block;
    width: fit-content;
    font-family: "Indie Flower",sans-serif;
    color: #a3a3a3;
    font-size: 4rem;
    font-weight: 20;
    position: relative;
    color:transparent;
    animation: text_reveal .2s ease forwards;
    animation-delay: 1s;
}
#hero h2{
    display: block;
    font-weight: 20;
    font-family: "Indie Flower",sans-serif;
    color: #a3a3a3;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: text_reveal .3s ease forwards;
    animation-delay: 2s;
}
#hero h3{
    display: block;
    width: fit-content;
    font-size: 4rem;
    font-weight: 1;
    position: relative;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "walt-disney", sans-serif ;
    color:transparent;
    animation: text_reveal .4s ease forwards;
    animation-delay: 3s;
}


#hero h4{
    display: block;
    width: fit-content;
    font-size: 2rem;
    font-weight: 1;
    position: relative;
    font-family: "Indie Flower", sans-serif ;
    color:transparent;
    animation: text_reveal .4s ease forwards;
    animation-delay: 4s;
}





/* end hero */

/*skill section*/



.skill{
    
    flex-direction: column;
    justify-content: space-between;
}
.skill-right{
    width: 350px;
    height: 150px;
    margin-bottom: 220px;
    margin-top: 30px;
    font-family: "Indie Flower",sans-serif;
}
.skill-right p{
    font-size: 1.2rem;
}
.skill-left {
   width: 30%;
   margin-top: 40px;
}


/*DNA Animation*/


.dna {
    width: 360px;
    height: 70px;
    perspective: 400px;
    transform-style: preserve-3d;
  }
  
  .ele {
    width: 1px;
    height: 70px;
    float: left;
    margin: 0 8px;
    border-left: 1px #B0B0B0 dashed;
    position: relative;
    transform: rotateX(-360deg);
    animation: run 2s linear infinite;
  }
  .ele:before, .ele:after {
    content: "";
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .ele:before {
    top: -2px;
    background: #000;
  }
  .ele:after {
    bottom: -2px;
  }
  .ele:nth-of-type(1) {
    animation-delay: -0.15s;
  }
  .ele:nth-of-type(2) {
    animation-delay: -0.3s;
  }
  .ele:nth-of-type(3) {
    animation-delay: -0.45s;
  }
  .ele:nth-of-type(4) {
    animation-delay: -0.6s;
  }
  .ele:nth-of-type(5) {
    animation-delay: -0.75s;
  }
  .ele:nth-of-type(6) {
    animation-delay: -0.9s;
  }
  .ele:nth-of-type(7) {
    animation-delay: -1.05s;
  }
  .ele:nth-of-type(8) {
    animation-delay: -1.2s;
  }
  .ele:nth-of-type(9) {
    animation-delay: -1.35s;
  }
  .ele:nth-of-type(10) {
    animation-delay: -1.5s;
  }
  .ele:nth-of-type(11) {
    animation-delay: -1.65s;
  }
  .ele:nth-of-type(12) {
    animation-delay: -1.8s;
  }
  .ele:nth-of-type(13) {
    animation-delay: -1.95s;
  }
  .ele:nth-of-type(14) {
    animation-delay: -2.1s;
  }
  .ele:nth-of-type(15) {
    animation-delay: -2.25s;
  }
  .ele:nth-of-type(16) {
    animation-delay: -2.4s;
  }
  .ele:nth-of-type(17) {
    animation-delay: -2.55s;
  }
  .ele:nth-of-type(18) {
    animation-delay: -2.7s;
  }
  .ele:nth-of-type(19) {
    animation-delay: -2.85s;
  }
  .ele:nth-of-type(20) {
    animation-delay: -3s;
  }
  
  @keyframes run {
    to {
      transform: none;
    }
  }








/* Tools section*/




.tools{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.title_exe{
    font-family: "Indie Flower",sans-serif;
    font-size: 2rem;
    font-weight: 0;
    color: #a3a3a3;
    margin-bottom: 10px ;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.tools_logo .tools_6{
    align-items: flex-start;
    margin-top: 50px;
    display: flex;
    width: 80%;
    margin-left: 40px;
    justify-content: space-between;
    flex-direction: row;
}
.tools_logo .tools_3{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    width: 80%;
    padding: 10px;
    flex-direction: row;
}
.tools_logo .tools_3 .tools_item{
    padding: 8px;
}
.tools_logo .tools_2 .tools_item{
    margin-right: 10px;
}
.tools_logo .tools_2{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    width: 40%;
    margin-left: 100px;
    flex-direction: row;
}
.tools_item  {
    padding: 1px;
    
    
}
.tools_3{
    margin-left: 40px;
    margin-right: 40px;
}



/*All technology item ---------------------------------------------------------*/

.tech{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    
}


.tech h1{
    font-family: "Indie Flower",sans-serif;
    font-size: 3rem;
    font-weight: 0;
    color: #a3a3a3;
    margin-bottom: 10px ;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}


.tech .tech_tools{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.tech_1{
    margin-right: 10px;
}
.tech_2{
    margin-right: 10px;
}
.tech_3{
    margin-right: 10px;
}
.tech_4{
    margin-right: 10px;
}

/*Cursor effect*/
.container_write {
    margin-top: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_write p {
    font-family: 'Montserrat',sans-serif;
    font-size: 3rem;
    padding: 0.5rem;
    color: #a3a3a3;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .container_write p span.typed-text {
    font-weight: normal;
    color: var(--yellow_s);
  }
  .container_write p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container_write p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0% {
      background-color: #ccc;
    }
    49% {
      background-color: #ccc;
    }
    50% {
      background-color: transparent;
    }
    99% {
      background-color: transparent;
    }
    100% {
      background-color: #ccc;
    }
  }


.code_head{
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    color: #a3a3a3;
    
}
.code_head h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.coding_page{
    height: auto;
    margin-left: 40px;
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.leetcode{
    width: 50%;
}
.codechef{
    width: 40%;
}
/* Experiance*/

.exp_heading h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #a3a3a3;
    font-size: 3rem;
}

.experiance{
    flex-direction: column;
    margin-top: 100px;
}
.segments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
 .skill-bottom{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
 .skill-item{
    
    flex-basis: 80%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./media/programming.jpg);
    background-size: 400px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0 black;
    transition: .3s ease box-shadow;
}

.skill-item:hover{
    box-shadow: 0px 0px 5px 0 black;
}
.skill-item.skill-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}
.skill-bottom .icon{
    
    width: 80px;
    margin-bottom: 20px;
}
.skill-item h2{
    font-size: 1.777rem;
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.skill-item p{
    color: white;
    text-align: left;

}
















  



/*Quots section*/
.full_quot{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    clip-path: ellipse(49% 31% at 50% 57%);
    font-family: "Montserrat", sans-serif;
}
.quots{
    margin-bottom: 50px;

}
.quots h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: white;
}
.quot p{
    color: white;
}
.quot{
    color:white;;
    margin-top: 50px;
    width: 300px;
    height: 100px;
}










/*Footer*/

#footer{
    
    
    clip-path: polygon(94% 8%, 77% 6%, 49% 6%, 25% 9%, 0% 17%, 0% 66%, 0% 100%, 29% 100%, 52% 100%, 73% 100%, 100% 100%, 100% 74%, 100% 48%, 100% 10%);

}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    width: auto;

}

#footer .social-item{
    padding: 1rem;
    margin :0.5rem;
}

#footer img{
    height: 100%;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 18px 0 var(--yellow_s);
    transition: .3s ease box-shadow;
}

#footer img:hover{
    box-shadow: 0px 0px 5px 0 crimson;
}
#footer p{
  color: #a3a3a3;;
}









/*keyframe*/
@keyframes hamburger_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes text_reveal_box{
50%{
    width: 100%;
    left: 0;
}
100%{
    width: 0;
    left: 100%
}    
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: crimson;
        font-weight: 500px;
    }
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
/* End keyframe*/




/*Media for tablet*/

@media only screen and (min-width:768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.skill-title{
        font-size: 6rem;
    }

    /*Hero section*/
    #hero h1{
        font-size: 10rem;
    }

    /* service section*/
    #skill .skill-bottom .skill-item{
        flex-basis: 45%;
        margin: 2.5%;
    }


    /*About me*/
   #about .about{
       flex-direction: row;
   }
   #about .col-left{
       width: 1100px;
       height: 380px;
       padding-left: 10px;
   }
   #about .about .col-left .about-img::after{
       left: -40px;
       top: 34px;
       height: 98%;
       width: 94%;
       border: 10px solid crimson;
   }
   #about .col-right{
       text-align: left;
       padding: 10px;
   }
   #about .col-right h1{
       text-align: left;
   }
    
    
}


/*Media quary for desktop*/
@media only screen and (min-width:1200px){
#skill .skill-top{
    width: 600px;
        max-width: 0 auto;}

#header .hamburger{
    display: none;
}
#header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
}
#header .nav-list ul li{
    display: inline-block;
}
#header .nav-list ul li a{
    font-size: 1.8rem;
}
#header .nav-list ul a:after{
    display: none;
}
#skill .skill-bottom .skill-item{
    flex-basis: 22% ;
    margin: 1.5%;
}
#hero h1{
 font-size: 5rem;
}
#hero h2{
    font-size: 5rem;
}
#hero h3{
    font-size: 6rem;
    
}
#hero .hero{
    
    flex-direction: row;
    justify-content: space-between;
}
#hero .hero .left{
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    
    
}
#hero .hero .right{
    margin-top: 110px;
    width: 35%;
    
    
}

/* Skills*/


.skill{
    flex-direction: row;
}
.skill-left{
    margin-left: 200px;
}
.skill-right{
    margin-right: 250px;
    width: 600px;
    height: 200px;
    margin-top: 200px;
}

.container_write p {
    font-family: 'Montserrat',sans-serif;
    font-size: 4rem;
    padding: 1rem;
    
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }


/*Quots */

.quots{
    margin-bottom: 50px;
    font-size: 3rem;    
}
.quot {
    margin-top: 50px;
    font-size: 2rem;
    width: 1100px;
    height: 100px;
}
.quot p{
    font-size: 2rem;
}

.skill .skill-right p{
     font-size: 2.5rem;
}
.skill-left {
    width: 10%;
    margin-top: 40px;
    margin-left: 27%;
 }

 .title_exe{
     font-size: 3rem;
 }
 .tools_logo{
   margin-left: 120px;
 }
 .tools_logo .tools_2{
    margin-left: 300px;

}


 .tools .tools_6 .tools_item{
     padding: 10px;
 }

 .tech h1{
     font-size: 4rem;
 }
 .tech .tech_tools{
     margin-top: 100px;
     justify-content:space-evenly;
     width: 100%;
 }




 .code_head{
    text-align: center;
    margin-top: 100px;
    font-size: 3.5rem;
    
}
.code_head h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.coding_page{
    height: auto;
    margin-left: 400px;
    margin-top: 30px;
    width: 700px;
    display: flex;
    flex-direction: row;
    
}
.leetcode{
    width: 20%;
}
.codechef{
    width: 20%;
    margin-right: 20px;
}



.skill-bottom{
    flex-direction: row;
}
.skill-item{
    flex-basis: 50%;
    height: 300px;
}




    
}
